body {
  background-color: #f0f0f0;
}

.title-input {
  width: 100%;
  height: max-content;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
